@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

@font-face {
    font-family: 'FiraCode-Bold';
    src:  url('../fonts/FiraCode-Bold.ttf');      
  }
@font-face {
    font-family: 'FiraCode-Light';
    src:  url('../fonts/FiraCode-Light.ttf');      
  }  
@font-face {
    font-family: 'FiraCode-Medium';
    src:  url('../fonts/FiraCode-Medium.ttf');      
  }
@font-face {
    font-family: 'FiraCode-Regular';
    src:  url('../fonts/FiraCode-Regular.ttf');      
  }
@font-face {
    font-family: 'FiraCode-SemiBold';
    src:  url('../fonts/FiraCode-SemiBold.ttf');      
  }
*{
    box-sizing: border-box;
    transition: ease all 1s;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    user-select: none;
}
body{
	font-family: 'FiraCode-Regular' , sans-serif;
	background-color: #1a171e;
}
.bg-img{
    position: absolute;
    right: 0;
    bottom: 0;
}

#my-section , #about , #about-me , #education , #contact{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#my-section{
    background-color: #120e16;
}
#about{
    height: auto;
    justify-content: center;
}
nav{
    width: 100%;
    z-index: 1;
}
.navbar-container{
    z-index: 2;
    height:100%;
    padding-left: 2rem ;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    background-color: #9f55ff ;
    height:30px;
    width:30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.icon {
    display: flex;
    margin-right: 2rem;
    font-size: xx-large;

}

.dropbtn{
    display: flex;
    width: 2rem;
    background:none;
    align-items: flex-start;
    border: none;
    font-size: 20px;
    color: white;
    background-color: #0d324d;
}
.dropbtn:hover{
    background:none;
    cursor: pointer;
}
.dropbtn:hover{
    color: white;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: none;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
a {
  color: white;;
  padding: 10px 10px;
  text-decoration: none;
  text-align: right;
}
.dropdown-content a:hover{
    background-color: #9f55ff;
    color: white;
}
.menu-icon:hover .dropdown-content {display: block;}
.intro{
    height: 50vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding : 2rem;
}
.small-text{
    color : #9f55ff;
}
.large-text{
    color : #ffffff;
    font-size: 3rem;
}

.btns{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width:100%;
}
button{
    width: 10rem;
    height: 2rem;
    margin-left: 2rem;
    outline: none;
    border:none;
    letter-spacing: 2px;
    font-size: .8rem;
    cursor: pointer;
}
button:hover {
    background-color: #000;
    border-color: #9f55ff;
    color: white;
    transition: .3s;

}
.hire-me{
    background:none;
    border : solid 2px #9f55ff;
    color : #9f55ff;  
}
.hire-me:hover{
    background:#9f55ff;
    color : #000;
    
}
.resume{
    border-color: #63747a;
    background: #63747a;
    color: white;
}
.scroll{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10rem;
}


.featured{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.featured .col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    animation: fadeInDown;
    animation-duration: 1s;
}
.featured-icon{
    width: 7rem;
    height: 6rem;
    background: #120e16;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9f55ff;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.col h3{
    letter-spacing: 2px;
    color: #f8f8f8;
}
.col span{
    font-size: .8rem;
    text-align: center;
    padding: 1rem;
}
.info-skills{
    display: flex;
    padding: 5rem 0;
    align-items: stretch;
    height: 100%;
}
.info{
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.section-title{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3vh;

}
.section-title h1{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bolder;
    color: #9f55ff;
}
.about-info{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photo-container{
    width:30%;
    height:30%;
    margin-bottom: 2vh;
    border : solid 2px #9f55ff;
}
.about-info p{
    font-size: 3vh;
    text-align: justify;
    text-justify: inter-word;
    color: #ffffff;
    margin-bottom: 5vh;
    width : 90%;
    
}
.skills{
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: .8rem;
}
.skill-bar{
    width: 80%;
    height: 1.5rem;
    background: none;
    display: flex;
    margin: 1rem 0;
}
.skill-title{
    width: 20%;
    background: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: .8rem;

}
.pr-bar{
    background: #8a8a8a;
}
.html{
    width: 70%;
}
.css{
    width: 70%;
}
.js{
    width: 60%;
}
.java{
    width: 50%;
}
.nodejs{
    width: 50%;
}
.cpp{
    width: 40%;
}
.mysql{
    width: 50%;
}


.education-title h1 , .contact-title h1{
    position: relative;
    font-size: 7vh;
    letter-spacing: 2px;
    font-weight: bolder;
    color: #9f55ff;
    margin-bottom: 5vh;
    
}

.e-col{
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 5rem 0;

    }
.edc-col{
        width: 25vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
    }

.edc-col h2{
    font-size: 1.35rem;
    text-align: center;
    margin-bottom: 2vh;
    color: #120e16;
}
.edc-col h3{
    font-size: .7rem;
    text-align: center;
}
.edc-col p{
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    padding: 2vh;
    color: gray;
}
#contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-title h1{
    color: #9f55ff;
}

.contact-form{
    width: 30rem;
    height: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem 0;
}
.contact-form h4{
    color: #ffffff;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1.5rem;
}
.inp{
    width: 20rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #28242b;
    margin-bottom: .5rem;
}
.form-inp{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.inp{
    width:30vw;
    border : solid 1px #9f55ff;
}
.inp input{
    width: 90%;
    height: 100%;
    color: white;
    border: none;
    outline: none;
    background: none;
    user-select: text;
}
.messg{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #28242b;
    border : solid 1px #9f55ff;
}
.messg textarea{

    width: 90%;
    height: 95%;
    color: white;
    border: none;
    outline: none;
    background: none;
    user-select: text;
}
.contact-btn{
    width: 20rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}
.contact-btn button{
    width: 8rem;
    height: 2rem;
    background: white;
    opacity: .8;
    border-radius: 50px;
    color: #9f55ff ;
    letter-spacing: 1px;
    font-size: .8rem;
    transition: .3s;
}
.contact-btn button:hover{
    background: #9f55ff;
    color: black;
    transition: .3s;
}

.CONTACT{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem 0;

}
.contact-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #120e16;

}
.footer-icons{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-f{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    margin-left: 1rem;
    transition: .3s;
    color:#ffffff;
    text-decoration: none;
}

.icon-f:hover{
    background: #9f55ff;
    border-color: #9f55ff;
    color: white;
    transition: .4s;
}


@media only screen and (max-width:974px){
    #about-me{
        height: auto;
    }
    .btns{
        flex-direction: column;
    }
    .hire-me , .resume{
        margin-top: 1rem;
        font-size: 1.5vh;
    }
      .featured{
        flex-direction: column;
    }
    .INTERESTS , .info-skills , .CONTACT{
        flex-direction: column;
    }
    .info-skills{
        width: 100%;
    }
    .skills{
        width: 100%;
    }
    .info{
        width: 100%;
        justify-content: center;
    }
    .skills-bar{
        width: 95%;
    }
    .INTERESTS-icon{
     font-size: 2rem;
    }
    .col h1{
        font-size: 1rem;
    }
    #contact{
        height: auto;
    }
    .contact-title h1{
        margin-top: 2vh;
    }
    .other{
        width: 100%;
    }
    .other div{
        font-size: 1rem;
    }
    .other .iconify {
        margin-top: 2vh;
    }
}