@font-face {
  font-family: "Jaro";
  src: url("./assets/fonts/Jaro/Jaro-Regular-VariableFont_opsz.ttf");
}
@font-face {
  font-family: "Josefin";
  src: url("./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin";
  scroll-behavior: smooth;
  transition: all ease-in-out 0.5s;
}

a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
body {
  background-color: #f2f6fa;
}
#navbar {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
#navbar .logo {
  width: 50%;
  font-family: "Jaro";
  font-size: 30px;
}

.dropdown-menu {
  position: relative;
}

.dropdown-menu button {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 15px;
  width: 230px;
  height: 72px;
  color: #fefefe;
  background: transparent;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}
.dropdown-menu button > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0 16px;
}

.dropdown-menu > button {
  position: relative;
  z-index: 2;
  /* background: #00000073; */
  transition: 0.3s;
}

.main-menu {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: auto;
  opacity: 0;
  transform-origin: 100% 0%;
  scale: 0;
  visibility: hidden;
  border-radius: 8px;
  background: #101233;
  transition: 0.4s;
}

.main-menu a {
  color: #fff;
}
.dropdown-menu.open .main-menu {
  scale: 1;
  right: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
}

.main-menu button {
  border: 0;
  width: 100%;
  height: 55px;
  border-radius: 0;
}

.main-menu button:hover {
  background: #8c8fff;
}

.chevron {
  margin-left: auto;
  transition: 0.4s;
}

.dropdown-menu.open .chevron {
  rotate: 180deg;
}

#hero {
  color: white;
  background-color: #101233;
  background-image: url("./assets/img/4002874.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-blend-mode: overlay;
  padding: 10%;
}

#hero .hello {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#hero .hello p {
  color: #8c8fff;
  font-size: 30px;
  margin: 15px 0;
}
#hero .hello h1 {
  font-size: 70px;
}

.divider {
  width: 100%;
  height: 10vh;
  background-color: #8c8fff;
}

#main {
  height: auto;
}
.about {
  background-color: white;
  padding: 10%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.about h1 {
  font-size: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.cols {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
}
.col-1 {
  width: 20%;
  padding: 15px;
}

.col-1 img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #8c8fff;
  margin-bottom: 15px;
}

.col-1-icons {
  margin-top: 10px;
  font-size: 22px;
}

.col-1-icons a {
  color: #101233;
}
.col-1-icons a:hover {
  color: #8c8fff;
  transition: ease-in-out 10ms;
}
.col-2 {
  padding: 20px 30px;
  font-size: 20px;
  color: #4d4d4e;
  text-align: justify;
}

#education {
  background-color: #f2f6fa;
  padding: 10%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #101233;
  position: relative;
  overflow: hidden;
}

#education h1,
#projects h1 {
  font-size: 30px;
  margin-bottom: 40px;
}
#projects h1 {
  color: #fff;
}

.edu {
  height: auto;
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  color: #000;
  margin-bottom: 30px;
}

.edu div {
  margin: 10px 0;
}
.edu-title {
  font-size: 20px;
  font-weight: bold;
}
.edu-year {
  font-size: 15px;
  padding: 5px 10px;
  color: #4d4d4e;
  border: #4d4d4e solid 0.1px;
}
.current {
  border-color: #0865b0;
  color: #0865b0;
}

#education::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 700px;
  background-color: #8c8fff;
  transform: skewY(-3deg);
  transform-origin: top left;
}

#projects {
  background-color: #8c8fff;

  padding: 10%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.projects__list-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
  color: #101233;
  padding: 20px;
  height: 400px;
}
.projects__list-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 20px 20px 25px;
}
.projects__list-item:hover > h3,
.projects__list-item:hover > p {
  color: #0865b0;
}

.projects__list-item h3 {
  height: 20%;
}
.projects__list-item p {
  height: 65%;
  text-align: justify;
  font-weight: 300;
}
.projects__list-item div {
  height: 15%;
}

.proj-github-link {
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 40px;
  background: none;
  color: #4d4d4e;
  text-align: center;
}
.proj-github-link:hover {
  color: #0865b0;
  transition: all ease-in-out 10ms;
}

.skills {
  background-color: #fff;
  padding: 10%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.skill-elements {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
}

.skill-element {
  padding: 15px;
  color: #0865b0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skill-element:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 25px;
}

.skill-element i {
  font-size: 25px;
  margin-bottom: 20px;
}
.skill-element p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

#footer {
  background-color: #101233;
  color: #fff;
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

#footer i {
  margin-right: 7px;
}
#footer a {
  color: #fff;
}

.small-ligne {
  width: 30%;
  height: 1px;
  background-color: #0865b0;
  margin: 15px 0 30px 0;
}

@media (max-width: 75em) {
  #hero .hello h1 {
    font-size: 50px;
  }
  .about {
    align-items: center;
  }
  .cols {
    flex-direction: column;
  }
  .cols .col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .projects-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .skill-elements {
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }

  #footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}
@media (max-width: 40em) {
  #hero .hello h1 {
    font-size: 35px;
  }
  .projects-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .projects__list-item {
    height: 300px;
  }

  .skill-elements {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  #footer {
    grid-template-columns: repeat(1, 1fr);
    gap: 80px;
  }
}
