.App-header {
    text-align: center;
    //animated background
    background: linear-gradient(-45deg, #080b25, #0b1149, #71b1c9, #000C66);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; 
    height: 70vh;
    @media (max-width: 912px) {
        height: 50vh;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .Avatar {
        height: 25vmin;
        pointer-events: none;
        margin-bottom: 1%;
        //make the avatar smaller on mobile
        @media (max-width: 600px) {
            height: 20vmin;
        }
        //make the avatar round
        border-radius: 50%;
        border: 5px solid #ffffff;
        }
        
        .title{
        font-size: 2rem;
        margin-bottom: 1%;
        font-weight: 700;
        max-width: 70%;
        @media (max-width: 912px) {
            margin: 5%;
        }
        @media (max-width: 600px) {
            font-size: 1.3rem;
            margin: 5%;
        }
        }
        .subtitle{
            max-width: 50%;
            font-weight: lighter;
            font-size: 1.1rem;
            color: #d1d1cd;
            @media (max-width: 600px) {
                font-size: .8rem;
            }
        }
}

@-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
      }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
    
  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
      }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
    
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
      }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }