.Section3{
    .Section3-content{
        display: flex;
            flex-direction: row;
            align-items: center;
        .Skill{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            padding: 2%;
            margin-bottom: 1%;
            .Skill-title{
                font-size: 1.2rem;
                font-weight: bolder;
                margin-right: 1%;
            }                
        }
    }
}