.dark-preview{
    background:  #1a1625;
}

.dark-preview .title, .dark-preview .Section-title{
    color: #FFF;
}
.dark-preview .subtitle{
    color: #fff;
}
.dark-preview .description, .dark-preview .Education-content-item-title{ 
    color: #fff;
}

.dark-preview .name{
    margin-bottom: 1%;
    font-weight: 700;
    color: #fcb140;
}

.dark-preview .Education-date-item{
    color: #bdbdbd;
}

.dark-preview .Education-content-item{
    border-left: solid 1px #bdbdbd;
}
.dark-preview .Education-content-item:hover {
    background-color: #181420;
    cursor: pointer;
    border-left: solid 5px #bdbdbd;
    transition: all ease-in-out 300ms;
}
.dark-preview .Skill{
    background-color: #fcb140 ;
    color: #000;
    box-shadow: 0 3px 3px 0 rgba(85, 97, 19, 0.3);
}

.dark-preview .Projects-content-item-title, .dark-preview .Projects-content-item-desc{
    color: #fff;    
}
.dark-preview .Projects-content-item-img{
    box-shadow: 0 12px 12px 0 rgba(100, 102, 105, 0.2);
}

.dark-preview footer{
    background-color: #000;   
}