@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App-header {
    padding: 100px 20% ;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #444;
}

.title{
    font-size: 3.3rem;
    margin: 50px 0;
    font-family: 'Montserrat-ExtraBold';
}
.name{
    margin-bottom: 1%;
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, #2978b5, #0f395a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subtitle{
    font-weight: 700;
    font-size: 1.5rem;
    color: #444;
}
.description{
    margin-top: 40px;
    font-size: 1rem;
    text-align: justify;
    
}

@media (max-width: 926px){
    .title{
        font-size: 2.5rem;
        margin: 30px;
    }
    .subtitle{
        max-width: 80%;
        font-size: 1.2rem;
    }
    .description{
        width: 70%;
        margin-top: 20px;
        font-size: 0.9rem;
    }
}
@media (max-width: 768px) {

    .title{
        font-size: 1.3rem;
        margin: 30px;
    }
}
@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}




